<md-toolbar color="primary">
  <i class="material-icons">pan_tool</i><span>{{Title | uppercase}}</span>
  <md-toolbar-row>
    <dl-bootstrap-panel>
      <div class="first">
        <div class="icon">
          <md-icon>chevron_left</md-icon>
        </div>
        <div class="text">
          <span>this is left</span>
        </div>
      </div>
      <div class="second">
        <span>this is right</span>
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
<div class="second">some text</div>
    </dl-bootstrap-panel>
  </md-toolbar-row>
</md-toolbar>
